In [ ]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
from scipy.stats import chi2_contingency 
# from statsmodels.stats.proportion import proportions_ztest, confint_proportions_diff_indep

In [7]:
# Load data

file_path = './data/ab_data.csv'
data = pd.read_csv(file_path)

In [10]:
# Data Exploration
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294480 entries, 0 to 294479
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294480 non-null  int64
 1   timestamp     294480 non-null  object
 2   group         294480 non-null  object
 3   landing_page  294480 non-null  object
 4   converted     294480 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

   user_id timestamp      group landing_page  converted
0   851104   11:48.6    control     old_page          0
1   804228   01:45.2    control     old_page          0
2   661590   55:06.2  treatment     new_page          0
3   853541   28:03.1  treatment     new_page          0
4   864975   52:26.2    control     old_page          1

In [11]:
data.describe()

             user_id      converted
count  294480.000000  294480.000000
mean   787973.538896       0.119658
std     91210.917091       0.324562
min    630000.000000       0.000000
25%    709031.750000       0.000000
50%    787932.500000       0.000000
75%    866911.250000       0.000000
max    945999.000000       1.000000

In [12]:
# Handling Missing Values

data.isnull().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

In [18]:
# Check for Duplications 

duplicates = data[data.duplicated()]
duplicates

Empty DataFrame
Columns: [user_id, timestamp, group, landing_page, converted]
Index: []

In [20]:
# Check mismatches between group and landig_page

mismatches = data[
    ((data['group'] == 'control') & (data['landing_page'] != 'old_page')) |
    ((data['group'] == 'treatment') & (data['landing_page'] != 'new_page'))
]

# Show mismatches
print(mismatches)

        user_id timestamp      group landing_page  converted
22       767017   58:15.0    control     new_page          0
240      733976   11:16.4    control     new_page          0
308      857184   34:59.8  treatment     old_page          0
327      686623   26:40.7  treatment     old_page          0
357      856078   29:30.4  treatment     old_page          0
...         ...       ...        ...          ...        ...
294014   813406   25:33.2  treatment     old_page          0
294200   928506   32:10.5    control     new_page          0
294252   892498   11:10.5  treatment     old_page          0
294253   886135   49:20.5    control     new_page          0
294331   689637   34:28.3    control     new_page          0

[3893 rows x 5 columns]

In [22]:
# Keep only rows where group matches the correct landing_page

clean_date = data[
    ((data['group'] == 'control') & (data['landing_page'] == 'old_page')) |
    ((data['group'] == 'treatment') & (data['landing_page'] == 'new_page'))
]

# check clean data
clean_date.shape

(290587, 5)